<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/assets/icons/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="Login">
        <div class="login">
            <form action="#">
                <h2>Login</h2>
                <div class="inputs">
                    <input type="text" name="userNameEmail" id="userNameEmail" placeholder="username / email" required>
                    <input type="password" name="password" id="password" placeholder='enter password'>
                    <p><a href="#">forgot password?</a></p>
                    <br/>
                    <p>Dont have an account? <a href="/templates/register.html"><span class="signup">Signup</span></a></p>

                </div>
                <input type="submit" value="Login">
                <h5> &gt;&gt;&gt;&gt;&gt; <span class="black">OR</span> &lt;&lt;&lt;&lt;&lt; <h5>
                </form>
                  
                <div class="logingoogle">
                    login with
                    <a href="#"> 
                         <i class="fab fa-google"></i></a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>